body{
	background-color:steelblue;
}

header, section, footer, aside, nav, main, article, figure { display: block; }

.headerlogo img{
	top:.75em;
	left:.5em;
	height: 10em;
	width: 10em;
}

#headername{
	position:absolute;
	top:.75em;
	left:5.5em;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:2.5em;
	font-weight:bolder;
}

.searchbox{
	position:absolute;
	top:.75em;
	right:.5em;
}

.navbar-background{
	height: 45px;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 20px;
	padding-left: 5px;
}

.navbar-background ul {
	list-style: none;
	padding: 0px;
}

.navbar-background ul li {
	display: block;
}

.navbar-background ul li > a {
	text-decoration: none;
}

.navbar-background ul li > a:hover {
	text-decoration: underline;
}

.navbar-background{
	background-color: #E70909;
}

.navlink {
	height: 35px;
	margin-right: 10px;
	font-size: 18px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	color: white;
	text-decoration: none;
}

#active{
	color: red;
	background-color: white;
}

#welcometext { column-count: 2; }